<div class="pure-menu pure-menu-horizontal" id="header">
    <a href="#" class="pure-menu-heading pure-menu-link">fakebook</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><%= link_to 'Einloggen', new_user_registration_path, class: 'pure-menu-link' %></li>
    </ul>
</div>