<div class="pure-menu pure-menu-horizontal" id="header">
    <%= link_to 'socials', root_path, class: 'pure-menu-heading pure-menu-link' %>
    <ul class="pure-menu-list">
        <% if current_user %>
	        <li class="pure-menu-item" id="you"><%= link_to "Hallo, " + current_user.first_name, user_path(current_user), class: 'pure-menu-link' %></li>
	        <li class="pure-menu-item"><%= link_to "Ausloggen", destroy_user_session_path, method: 'DELETE', class: 'pure-menu-link' %></li>
	    <% else %>
        	<li class="pure-menu-item"><%= link_to 'Einloggen', new_user_session_path, class: 'pure-menu-link' %></li>
        <% end %>
    </ul>
</div>