<div style="width: 920px; margin: 0 auto;">
	<h1>Willkommen bei Fakebook</h1>
	<p style="text-align: center">Melde dich jetzt an, um dein Leben mit deinen Liebsten zu teilen!</p>
</div>

<div class="pure-g">
	<div class="pure-u-1 pure-u-md-1-2">
		<img class"pure-img" style="width: 100%" src="http://oracle.global-itech.com/img/slider-home/happy-people.jpg">
	</div>

	<div class="pure-u-1 pure-u-md-1-2">
		<form action="/sign_up" class="pure-form pure-form-stacked register-form">
			<p>Jetzt Registrieren</p>

			<input type="text" placeholder="Vorname"></input>
			<input type="text" placeholder="Nachname"></input>
			<input type="text" placeholder="E-Mail Adresse"></input>
			<input type="text" placeholder="Passwort"></input>
			<br/>
			<input type="submit" class="pure-button pure-button-primary" value="Jetzt registrieren">
		</form>
	</div>
</div>